.topContainer {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.iconContainer {
  width: fit-content;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.icon {
  width: 5px;
  height: 20px;
  opacity: 70%;
  cursor: pointer;
}

.icon:hover {
  opacity: 100%;
}

.loungeTitle {
  font-size: 20px;
  font-weight: bold;
}

.objets {
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: 70%;
  align-items: center;
}

.globalTitle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
}

.globalContainer32 {
  width: 100%;
  height: 100%;
  aspect-ratio: 0.6;
  padding: 0 32px;
  box-sizing: border-box;
}
