.positionCenter {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.modalButtonContainer.refuse {
  margin-top: 0;
}

.modalButton {
  width: 95px;
  height: 33px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}

.modalButton.cancel {
  background-color: #d9d9d9;
}

.modalButton.confirm {
  background-color: #242424;
  color: #fff;
}

.loungeListModalContainer {
  composes: positionCenter;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.loungeListModalTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: black;
}

.loungeListModalContents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  margin-top: 10px;
  overflow-y: auto;
  color: black;
  border: 0.5px solid #242424;
  border-radius: 10px;
  padding: 10px 0;
}

.loungeListModalItem {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 1px 10px;
  cursor: pointer;
}

.loungeListModalItem.selected {
  background-color: #d9d9d9;
  font-weight: bold;
}

.loungeListModalItem:hover {
  background-color: #d9d9d9;
  font-weight: bold;
}

.modalBackdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
}

.inquiryInput {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.inquiryInput.email {
  margin-top: 10px;
  height: 40px;
}

.inquiryInput.contents {
  height: 150px;
  margin: 10px 0;
}
