:root {
  --background: #000000;
  --foreground: #17171B;
  --text: #fff;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--background);
}

body {
  width: 100%;
  height: 100%;
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 600px) {
  html,
  body {
    width: 600px;
    margin: 0 auto;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: black; /* 스크롤바 트랙 배경 */
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글게 */
  border: 3px solid black; /* 테두리를 배경색과 맞춤 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* 스크롤바에 마우스를 올렸을 때 색상 */
}