.globalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 32px;
    height: 100%;
}

.globalTitle {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

.globalSubTitle {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
}

.myRoomPreviewWrapper {
    margin-top: 40px;
    height: 310px;
    cursor: pointer;
    width: 90%;
}

.myRoomName {
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.myRoomList {
    display: flex;
    flex-direction: row;
    height: 120px;
    overflow-x: auto;

    @media (min-width: 550px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.myRoomThumbnail {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.createBtn {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    margin-bottom: 80px;
}

.myRoomIconContainer {
    display: flex;
    align-items: center;
}
