.preparingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 25px 0 100px 0;
  max-width: 600px;
  overflow: hidden;
}

@media (max-width: 599px) {
  .preparingContainer {
    display: none;
  }
}

@media (min-height: 860px) {
  .preparingContainer {
    position: absolute;
    bottom: 70px;
    padding: 0;
    height: 80px;
  }
}

.preparingItem {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 190px;
  border-radius: 10px;
  border: 0.1px solid #505050;
  color: #505050;
  flex-wrap: wrap;
  font-size: 13px;
}
